.Main {
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main .sub-main {
  width: 500px;
  height: 500px;
  background-color: green;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
}
.header-right-1 {
  /* display: flex;  */
  /* justify-content: center;
  align-items: center;  */
  background-color: green; 
}

.img {
  border-radius: 50%;
}
